<?php  if ( ! defined('BASEPATH')) exit('No direct script access allowed');

/*
|--------------------------------------------------------------------------
| Facebook app config
|--------------------------------------------------------------------------
*/
$config['facebook_appid']	= '';
$config['facebook_secret']	= '';
